[submodule "vcg/c_src/vcglib"]
	path = vcg/c_src/vcglib
	url = https://github.com/cnr-isti-vclab/vcglib.git
[submodule "vcg/c_src/eigen"]
	path = vcg/c_src/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "vcg/c_src/meshlab"]
	path = vcg/c_src/meshlab
	url = https://github.com/cnr-isti-vclab/meshlab
